/* .logo{
    margin-left: 0px;
}
.home ul{
    display: flex;
    align-items: center;
} */
.nav{
    display: flex;
}
/* .navimage{
    margin-left: 2px;
} */
.list{
    margin-left: 400px;
    margin-top: 5px;
}
.list ul li{
    display: inline-block;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 1.2em;
}
.list ul li::after{
     content: ''; 
    height: 2px;
    width: 0%;
    background:orange;
    display: block;
    margin: auto;
    transition: 0.5s;
    
    
       
    
}
.list ul li:hover::after{
    width: 100%;
}

.icon{
    margin-left: 250px;
    margin-top: 15px;
    

}
.icon i{
    padding-left: 20px;
    
}


.home_content{
    /* background-color: blanchedalmond; */
    background-image: url(./image/bannerBcg.jpeg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:90vh;
    /* position: relative; */
}
.content{
    /* background-color: aquamarine; */
    width:200px;
    padding:20px;
    position: absolute;
    top:40%;
    left:5%;
}
.minimalist{
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
    font-weight: 600;
}
.viewcollection{
    padding:5px 20px;
    background-color: yellow;
    border-radius: 5px;
}
.product{
    margin-top: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    justify-content: space-around;
}
.free_shippingone i{
    display: flex;
    justify-content: center;
    /* color: yellow; */
    /* font-size: 2rem; */
    border-radius: 50%;
    padding:1px ;
    margin-right: 80px;
}
.free_shippingtwo i{
    display: flex;
    justify-content: center;
    /* color: yellow; */
    /* font-size: 2rem; */
    border-radius: 50%;
    padding:10px ;
    margin-right: 110px;
}
.free_shippingthree i{
    display: flex;
    justify-content: center;
    /* color: yellow; */
    /* font-size: 2rem; */
    border-radius: 50%;
    padding:10px ;
    margin-right: 100px;
}
.free_shippingone h2,p{
    display: flex;
    justify-content: space-around;
    
    
}
.free_shippingtwo h2,p{
    display: flex;
    justify-content: space-around;
    
    
}
.free_shippingthree h2,p{
    display: flex;
    justify-content: space-around;
    
    
}
.free_shippingone h2{
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 20px;
}
.free_shippingtwo h2{
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 20px;
}
.free_shippingthree h2{
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 20px;
}


.product_categories{
    position: absolute;
    margin-top: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.product_categories img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    height: 20vh;
}
.categories_content p{
    display: flex;
    text-align: justify;
    width: 450px;
}

.three{
    width:100%;
    height:400px;
    background-image:url(./image/home-filler.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
     background-attachment: fixed;
     margin-top:37%;
     position: relative;
}
.four{
    /* background-color: aquamarine; */
    width:70%;
    height: auto;
    margin:auto;
    text-align: center;
    padding: 20% 10px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four a{
    color: orange;
}

.five{
    text-align: center;
    margin-top: 50px;
}
.six{
    width: 85%;
    margin: 0px auto;text-align: center;
}
.six1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.six11{
    background-color:rgb(233, 232, 232);
    margin:10px 10px;
    text-align: center; 
    padding: 30px 10px ;
}

.seven{
    background-color:rgb(233, 232, 232) ;
    width:100%;
    height:300px;
    margin-top: 5%;
}
.seven1{
    width:30%;
    margin:0 auto;
}
#carouselimg{
    padding:70px;
    width:50px;
    height:300px;
}

.eight{
    text-align: center;
    width:80%;
    margin:5% auto;
}
.eight input{
    width:70%
}
#email{
    padding: 6px;
}
#eightmail{
    padding:12px;
    background-color: gray;
}
.eight .subscribe{
    background-color: orangered;
    padding:5px 20px;
    margin-top: 3%;
    border-radius: 10px;
}
.nine{
    background-color:black;
    width:100%;
    height:300px;
}
/* .nine1{
    color:white;
  
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 400px; 
    justify-content: space-around;
    text-align: justify;
    margin: 20px;
} */
 .nine2{
    display:flex;
    color:white;
    justify-content: space-evenly;
    margin-top: 50px;
    /* padding: 50px; */
     /* margin-right: 80px;   */

}
.nine2 i{
    font-size: 2.1em;
    /* padding-left: 150px; */
}
.gif1{
    margin-left: 40px;
}
.hone{
    margin-right: 100px;
}
.nine3{
    display: flex;
    color: white;
    /* width: 1000px; */
    /* justify-content: space-around; */
     /* padding-left: 180px;  */

}
.para1{
    margin-left: 50px;
    /* width: 500px; */
}
.paraone{
    margin-left: 200px;
}
.paratwo{
    margin-left: 50px;
}
    /* flex-direction: column;
    width: 100vw;
    font-size: 1rem;
}  */
.ten{
    background-color:rgb(0, 22, 0);
    width:100%;
    /* width:100%; */
    height:400px;
    display:block;
    
}
.comfy{
    text-align: center;
    align-items: center;
    margin-left: 500px; 
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 1px;
    color: yellow;
    border: 2px solid yellow;
    background-color: rgb(0, 22, 0);
}
.fab i{
    display: inline;
    flex-wrap: wrap;
     color:yellow;
     width: 100px;
     /* padding-top: 100px; */
     /* margin-left:200px;  */
}
.fab{
    margin-left: 200px; 
    margin-top: 50px;
}
.paraten{
    color: yellow;
    margin-top: 50px;
}
